.container
{
    position: relative;
    /* width: 900px; */
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #808080;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    
  }

.counter 
  {
    display: inline-flex;
    cursor:pointer;
    width:360px;
    position:relative;
    justify-content:center;
    align-items:center;
    font-size: calc(1em + 1vmin);
    transition: height .2s ease-in-out;
    background: #fff;
    box-shadow:0px 1px 10px 2px rgba(0,0,0,0.2);
    margin:1em 0;
  }
.container .card
{
    position: relative;
    width: 250px;
    background-color: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
}
.container .fourth{
    float: left;
    clear: left;
    font-size: 20px;
    position: relative;
}

.fourth .max-temp {
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
}

.fourth .max-humidity {
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
}

.fourth .max-pressure {
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
}

.graph-parent {
    width:100%;
    height:100px;
    margin-right:10px;
    float:left;
}

#splineChartContainer {
    float:left;
    margin-right:5px;
}

#columnChartContainer {
    padding-left: 594px;
}

.container .fifth
{
    position: relative;
    width: 380px;
    justify-content: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
}
.percent .number
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2
{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 00.5s;
}
svg
{
    position: relative;
    width:  150px;
    height: 150px;
    z-index: 1000;
}
svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
}
.card:nth-child(1) svg circle:nth-child(2)
{
    stroke: #FFB6C1;
}
.card:nth-child(2) svg circle:nth-child(2)
{
    stroke: #2E8B57;
}
.card:nth-child(3) svg circle:nth-child(2)
{
    stroke: #800080;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;
  }
  
  td, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: none;
  }
  #columnChartContainer
  {
      width: 200px;
      height: 200px;
  }